/wp-admim
/wp-includes
/classic-editor.php
/index.php
/LICENCE.md
/licence.txt
/readme.html
/readme.txt
/wp-active.php
/wp-blog-header.php
/wp-comments-post.php
/wp-config-sample.php
/wp-config.php
/wp-cron.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-settings.php
/wp-signup.php
/wp-tracback.php
/xmlrpc.php
